public net.minecraft.inventory.InventoryCrafting field_70465_c # eventHandler
public net.minecraft.inventory.InventoryCrafting field_70464_b # inventoryWidth

public net.minecraft.client.gui.inventory.GuiContainer field_147003_i # guiLeft
public net.minecraft.client.gui.inventory.GuiContainer field_147009_r # guiTop
#Pattern Value Setting
public net.minecraft.client.gui.inventory.GuiContainer field_147006_u #theSlot

public net.minecraft.client.renderer.texture.TextureMap field_110574_e # mapRegisteredSprites

protected net.minecraft.client.gui.inventory.GuiContainer func_146975_c(II)Lnet.minecraft.inventory.Slot; # getSlotAtPosition
